#header
  #back-button
  #photo-button
  #ingredients-button
  #tools-button
  #settings-button
#content
  #recipe-header
  #steps
    %ul
      %li.completed
        Step 1
      %li.completed
        Step 2
        .timer.completed
          0:00
      %li.active
        Step 3
      %li.active
        Step 4
        .timer.active
          1:15
      %li.pending
        Step 5
        .timer.pending
          3:00
      %li.pending
        Step 6
      %li.pending
        Step 7
        .timer.pending
          3:00
      %li.pending
        Step 8
  #photos
  #tools
  #ingredients
#footer
  All Rights Reserved. 2013.