#header
  #back-button.button
    << Back
  #recipe-buttons

    #photos-button.button
      %a.open{ href: "#" } Photos

    #photos
      %h2 Photos
      .photo
        %img{ src: "http://placehold.it/90x90" }
      .photo
        %img{ src: "http://placehold.it/90x90" }
      .photo
        %img{ src: "http://placehold.it/90x90" }
      .photo
        %img{ src: "http://placehold.it/90x90" }
      .photo
        %img{ src: "http://placehold.it/90x90" }
      .photo
        %img{ src: "http://placehold.it/90x90" }

    #ingredients-button.button
      %a{ href: "#" } Ingredients
    #ingredients
      %h2 Ingredients
      %ul
        %li Frankfurter, 1 Large
        %li Salami, 1/2 cup
        %li Jowl, 3/4 teaspoon
        %li Ribs, 5 pieces
        %li Turkey, 4 ounces
        %li Pancetta, 2 slices
        %li Pork, 2 links
        %li Frankfurter, 1 Large
        %li Salami, 1/2 cup
        %li Jowl, 3/4 teaspoon
        %li Ribs, 5 pieces
        %li Turkey, 4 ounces
        %li Pancetta, 2 slices
        %li Pork, 2 links

    #tools-button.button
      %a{ href: "#" } Tools

    #tools
      %h2 Tools
      %ul
        %li Knife
        %li Spoon
        %li Fork
        %li Big Pot
        %li Small Pot
        %li Paper Towels
        %li Knife
        %li Spoon
        %li Fork
        %li Big Pot
        %li Small Pot
        %li Paper Towels

  #settings-button.button
    \#

#content
  #recipe-header
    Recipe Name and Description
  #steps
    %ul
      %li.completed
        .step-number
          1
        .step-content
          Bacon ipsum dolor sit amet pork loin ground round ham tenderloin
      %li.completed
        .step-number
          2
        .step-content
          Doner meatball bacon rump kielbasa pastrami brisket drumstick ribeye
        .timer.completed
          0:00
      %li.active
        .step-number
          3 
        .step-content
          Pancetta spare ribs capicola pork loin
      %li.active
        .step-number
          4 
        .step-content
          Turkey pig strip steak drumstick, tail bacon pork
        .timer.active
          1:15
      %li.pending
        .step-number
          5 
        .step-content
          Ribs capicola cow sirloin turkey
        .timer.pending
          3:00
      %li.pending
        .step-number
          6 
        .step-content
          Bacon rump turducken chicken ball tip shank
      %li.pending
        .step-number
          7 
        .step-content
          Salami pancetta jowl pork loin pork ham
        .timer.pending
          3:00
      %li.pending
        .step-number
          8 
        .step-content
          Frankfurter salami pancetta jowl pork loin
      %li.pending
        .step-number
          9 
        .step-content
          Frankfurter salami pancetta jowl pork loin
      %li.pending
        .step-number
          10 
        .step-content
          Frankfurter salami pancetta jowl pork loin
      %li.pending
        .step-number
          11 
        .step-content
          Frankfurter salami pancetta jowl pork loin

#footer
  All Rights Reserved. 2013.